engine-strict=true
auto-install-peers=true
shamefully-hoist=true
strict-peer-dependencies=false
save-package-manager = false

# 强制使用 pnpm
engine-strict=true
use-pnpm=true

# 设置 scope
@mcpmarket:registry=https://registry.npmjs.org/ 